.cta{
    width: 100%;
    top: 7.37rem;
    padding: 15.7rem 0rem 47.5rem 0rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.features{
    position: relative;
    color: var(--Primary-Black-Black-500, #231F20);
    text-align: left;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.625rem;

}

.text{
    width: auto;
    color:  #231F20;
    text-align: left;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
}

@media screen and(width : 600px) {
    .cta{
        width: auto;
        height: auto;
        top: 7.37rem;
        padding: 15.7rem 0rem 47.5rem 0rem;
        display:inline-block;
        flex-direction:column;
        align-items: left;
        gap: 2rem;
    }
    
    .features{
        position: relative;
        color: var(--Primary-Black-Black-500, #231F20);
        font-size: 4rem;
        font-style: normal;
        font-weight: 800;
        line-height: 2.625rem;
    
    }
    
    .text{
        width: auto;
        color:  #231F20;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem; 
    }
}

