.dropdown-menu {
    position: static;
    display: flex;
    top: 7.4rem;
    width: 11.875rem;
    margin-left: -9.7rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    background-color: Primary/#2F302C/#2F302C 500;
    outline: 0;
    background: #2F302C;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    border-radius: 0.5rem;
    border: 0.5px solid var(--Primary-Black-Black-200, #D3D2D2);
    background: #2F302C;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  }
  
  .dropdown-menu li {
    display: flex;
    height: 2.25rem;
    padding: 0.625rem 0.875rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    background:#2F302C ;
    color:  #EEE;
  }
  
  .dropdown-menu li :hover {
    background: #EEE;
    color: #2F302C;
  }
  
  .dropdown-menu.clicked {
    display: table-column;
  }
  
  .dropdown-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1 0 0;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    text-decoration: none;
  }
  
  @media screen and (max-width: 1024px) {
    .fa-caret-down {
      display: none;

    }

    .dropdown-menu {
      position: relative;
      display: flex;
      top: 3.4rem;
      width: min-content;
      height: min-content;
      margin-left: -5.7rem;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
      background-color: Primary/Black/Black 500;
      outline: 0;
      background: #2F302C;
      box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
      border-radius: 0.5rem;
      border: 0.5px solid var(--Primary-Black-Black-200, #D3D2D2);
      background: #2F302C;
      box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    }
    
  }



